.he{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    height: 60px;
}
*{
    margin: 0;
}
p{
    color: white;
    padding: 20px;
}
.hi{
    position: absolute;
    right: 200px;
    
}
.hia{
    position: absolute;
    right: 120px;
}
.hias{
    position: absolute;
    right: 30px;
}
.si{
    
    padding: 80px;
    background-color:rgb(189, 184, 184);
    border: solid;
    width: 300px;
    margin-left: 400px;
    text-align: center;
}
.av{
    margin-top: 50px;
    display: inline-block;
}
h5{
    display: inline;
}
img{
    padding-top: 30px;
}